
*{
  box-sizing: border-box;
}
.block{
    
    border:1px solid black;
    background-color: bisque;
    box-sizing:border-box;
    position: relative;
    margin:1%;  
}
.row{
  width:100%;
}
h1{
    text-align:center;
    color: red;
}
p{
    text-align: justify;
    padding:30px 15px 10px 15px;
    height: auto;
} 
h2{
      text-align: center; 
      border:1px solid black;
      width:150px;      
      padding: 5px 10px 10px 10px;  
      position: absolute;
      top: -20px;
      right: 0px;     
}
#subheading1{
    background-color:rgb(211, 166, 166);
    color: black;
}
#subheading2{
    background-color:rgb(133, 116, 116);
    color:white;
}
#subheading3{
    background-color:rgb(233, 227, 141);
    color: black;
}
@media (min-width: 992px) {
  .col-lg-4 {
     float: left;
     width: 31%;
     margin:1%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 94%;
  
  }
  .col-md-6 {
    width: 46%;
    
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width:94%;
  
  }
}
